<div class="modal-header">
  <h4 class="modal-title">Saved searches</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <div class="checkbox" *ngFor="let savedSearch of savedSearchesArr">
      <label><input type="checkbox"  [(ngModel)]="savedSearch.selected"  class="mr-4">{{savedSearch.text}}</label>
    </div>
 </div>
  <button *ngIf="savedSearchesArr && savedSearchesArr.length" class="btn btn-primary w-100" (click)="getSelectedSavedSearches()">Show selected serches results</button>
</div>
